.AddItemModal {
  width: 100%;
  margin: 20px 0px;
  background-color: #f5f5f5;

  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  min-width: 500px;
}

.outerAddItemModal {
  padding: 12px;
  background-color: transparent;
}

.close-addItem-modal {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.add-new-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}

.name-type-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.type-add-item-container {
  width: 100%;
}

.name-add-item-container {
  width: 100%;
}

.description-add-item-container {
  width: 100%;
}

.save-add-item-container {
  width: 100%;
  height: 50px;
}

.images-add-item-contianer {
  width: 100%;
  display: grid;
  grid-template-columns: 228px 228px;
  justify-content: center;
  gap: 10px;
}

.add-item-main-image {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 6px;
  font-size: 80px;
}


.add-item-sub-images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 6px;
}

.add-images {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  border-radius: 3px;
  font-size: 40px;
}


