.ChangeFitting {
  width: 100%;
  margin: 20px 0px;
  background-color: #f5f5f5;

  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Libre Franklin", sans-serif;
  position: relative;
  width: 600px;

}

.ChangeFitting hr {
  width: 100%;
  border: 1px solid #0c0c0c1a;
}

.outerChangeFittingModal {
    padding: 12px;
    background-color: transparent;
}

.update-fitting-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.ChangeFitting .old-fitting-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ChangeFitting .old-fitting-details span {
    font-weight: 600;
}


.ChangeFitting .new-fitting-detials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}


.ChangeFitting .new-fitting-save-btn {
  width: 100%;
  height: 50px;
}