/* Libre Caslon Display */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.ProjectDetails {
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: "Libre Franklin", sans-serif;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
}

.ProjectDetails:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.image-container .appointment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info-container {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.ProjectDetails .info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ProjectDetails .info {
  width: 50%;
}

.designing-information,
.dates,
.payment-details {
  display: flex;
  justify-content: space-between;
}

.ProjectDetails .bottom-part-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 20px;
}

.bottom-part-details .info-container {
  flex-direction: column;
  flex: 1;
}

.ProjectDetails .label {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 5px;
  /* font-style: italic; */
}

.ProjectDetails .info-text {
  font-weight: 600;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  margin-top: 4px;
  transition: all 0.3s;
}

.ProjectDetails .info-text:hover {
  transform: translateX(5px);
} 

.ProjectDetails a {
  color: #1565c0;
  text-decoration: none;
  
}

.ProjectDetails a:hover {
  text-decoration: underline;
  font-style: italic
}


.info-text.done-fitting {
  color: #757575;
  text-decoration: line-through;
  font-style: italic;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(11, 11, 11, 0.336);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #0c0c0c;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
