/* Libre Caslon Display */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.ProjectUpdates {
  width: 100%;
  margin: 20px 0px;
  /* background-color: #ffffff;

  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.ProjectUpdates .update-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 16px;

  background-color: #6d6d6d28;
  border: 2px solid #0c0c0c52;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  position: relative;
  font-family: "Libre Franklin", sans-serif;
  transition: all 0.3s;
}

.ProjectUpdates .update-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #6d6d6d28;
  border: 2px solid #0c0c0c;
}

.ProjectUpdates .update-image {
  height: 50px;
  width: 50px;
  border: 1px solid #0c0c0c;
}

.ProjectUpdates .update-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ProjectUpdates .update-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update-date {
  color: #0c0c0c;
}

.ProjectUpdates .update-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 10px;
  color: #757575;
}

.ProjectUpdates .update-note {
  font-size: 14px;
  
}


.update-date {
  font-size: 10px;
  color: #757575;
  font-style: italic;
  
}

