.manageSchedule-calendar {
    height: 660px;
}

/* For update availability modal */
.setAppointmentAvailability {
    padding: 20px;
}

.setAppointmentAvailability-header {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;

}

.setAppointmentAvailability hr {
    margin: 10px 0;
}

.setAppointmentAvailability .filled-blue {
    height: 40px;
    margin-top: 10px;
}

.setAppointmentAvailability .MuiSvgIcon-root {
    color: #0c0c0c;
}