.manage-user {
    padding: 20px;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    margin-bottom: 10px;
}

.search-user-container {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 0px 0 10px;
    height: 50px;
    
    display: flex;
    align-items: center;
}

.search-user-container .MuiInputBase-input .MuiOutlinedInput-input {
    width: 300px;
    padding: 0 10px;
}

.MuiTableRow-root .MuiTableCell-head {
    background-color: #0c0c0c;
    color: #f5f5f5;
}

.manage-user .table {
    margin-top: 10px;
}

.table button.Mui-disabled {
    color: #0c0c0c6e;
}

.table button {
    color: #0C0C0C;
}

.table .MuiTablePagination-root {
    background-color: #e2e2e2;
}

.total-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 10px;
}

.total-user span {
    font-size: 14px;
    text-transform: uppercase;
}

.totalUser {
    background-color: #6d6d6d;
    color: #f5f5f5;
    height: 30px;
    width: 30px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(11, 11, 11, 0.336);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #0c0c0c;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}