.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.header-left h1 {
    width: 100%;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.small-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.small-data-item {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #ffffff;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 5px solid;
  font-size: 32px;
  padding: 20px;
  transition: all .3s;
  cursor: pointer;
}

.small-data-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.number-user {
  border-color: #F79009;
}
.number-of-peding-appointment {
  border-color: #2287E7;
}
.number-ongoing-project {
  border-color: #F04438;
}
.number-approve-appointment {
  border-color: #11B364;
}

.small-data-item-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #929292;
  transition: all .3s;
}


.small-data-item:hover .small-data-item-label {
  color: #0c0c0c;
}

.big-graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 460px;
}

.graph {
  box-sizing: border-box;
  height: 100%;
  min-width: 0;
  min-height: 0; 
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.graph:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total-amount-monthly {
  position: relative;
}

.date-select-container {
  position: absolute;
  bottom: 0;
}