.appointment-box {
    color: #0C0C0C;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 10px;
    position: relative;
    border-radius: 8px;
}

.appointment-box.pending {
    background-color: rgba(19, 98, 255, 0.055);
    border: 2px solid #1362ff;
}

.appointment-box.cancelled {
    background-color: rgba(240, 68, 56, 0.055);
    border: 2px solid #F04438;
}

.appointment-box.denied {
    background-color: rgba(247, 144, 9, 0.055);
    border: 2px solid #F79009;
}

.appointment-box.approved {
    background-color: rgba(17, 179, 101, 0.055);
    border: 2px solid #11B364;
}

.appointment-box.fitting {
  background-color: #6d6d6d28;
  border: 2px solid #0c0c0c;
}



.information-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.appointment-date {
    font-style: italic;
    font-size: 24px;
}

.appointment-time {
    font-weight: 600;
    opacity: .6;
}

.status-text {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appointment-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.cancel-icon {

    color: #F04438;
}

.cancel-icon,
.edit-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .6;
    padding: 5px;
    border-radius: 50%;
    transition: all .3s;
}

.cancel-icon:hover {
    background-color: #F0443822;
    opacity: 1;
}

.edit-icon:hover { 
    background-color: #0c0c0c22;
    opacity: 1; 
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.update-appointment-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
    gap: 10px;
}

.current-image {
    background-color: #0c0c0c10;
    border-radius: 8px;
    border: 2px solid #0c0c0c;
}

.current-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.outerUpdateAppointment {
    background-color: transparent;
    padding: 10px;
    width: 600px;
}

.update-dialog-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    border-radius: 12px;
}

.update-dialog-title-container {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.update-dialog-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-dialog-time-date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.update-dialog-button-container {
    height: 40px;
}

