#contact .contacts-section {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.contact-main-container {
    height: 100vh;
    width: 100%;
    position: relative; 
    z-index: 2;

    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-main-container .contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: right;
    padding: 100px 100px;
    gap: 20px;
}

.contact-info-container .contact-question {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
}

.contact-info-container .contact-info-text {
    line-height: 1.5;
    font-size: 16px;
    opacity: 0.8;
    font-style: italic;
    color: #f5f5f5;
}

.contact-info-container .contact-btn {
    height: 40px;
    width: 140px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.contact-info-container .contact-btn:hover {
    box-shadow: rgba(238, 238, 238, 0.2) 0px 7px 29px 0px;
    background-color: var(--white);
    color: var(--black);
}

.socials-container {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}

.socials-container .socials {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.socials-container .socials:hover {
    background-color: #f5f5f528;
}

.socials-container .socials img {
    margin: 0;
    height: 22px;
    width: 22px;
}
 



.contact-main-container .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: 0px 100px; */
    /* background-color: rebeccapurple; */
}


.contact-form {
    width: 500px;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background:var(--glassy-background-image) ;  
    backdrop-filter: var(--backdrop-filter-image);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
    border:var(--border-glassy-img) ;
}

.contact-form-title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: var(--fancy-font);

}

.contact-form .input {
    width: 100%; 
}

.contact-form #standard-basic, 
.contact-form #standard-multiline-flexible {
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.contact-form .contact-btn {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.contact-form .contact-btn:hover {
    box-shadow: rgba(238, 238, 238, 0.2) 0px 7px 29px 0px;
    background-color: var(--white);
    color: var(--black);
}



.contact-bg-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%; /*change */
    height: auto;  /*change */
    opacity: 0.6;

    display: block; /*change */
    justify-content: flex-end;
    align-items: center;

    z-index: 0;
}