#gallery{
    background-color: var(--black);
    
}

#gallery .gallery-section {    
    min-height: 100vh;
    background-color: var(--black);
    
}

.gallery-main-container{
    justify-content: center;
    align-items: center;
    display: grid;
}

#gallery .gallery-main-container{
    padding-top: 150px;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}


#gallery .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 440px;
    background:var(--glassy-background-image) ;  
    backdrop-filter: var(--backdrop-filter-image);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
    border:var(--border-glassy-img) ;
}

#gallery .gallery-attires-container{
    width: 100px;
}


#gallery .gallery-bottom-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gallery .attire{
    width: 380px;
    height: 340px;
}

#gallery .suit-name-con{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--normal-font);
    font-size: var(--suit-name-font);
    font-style: var(--bold);
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
}