@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.IndividualProject {
  width: 100%;
  margin: 20px 0px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  position: relative;
}

.IndividualProject .indi-container-main {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(151, 151, 151, 0.2);
  border-left: 5px solid #000000;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  padding: 12px;
  position: relative;
  font-family: "Libre Franklin", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

.IndividualProject .indi-container-main.done {
  border: 1px solid #11B364;
  border-left: 5px solid #11B364;
  background-color: #9ee0c052;
}

.IndividualProject .indi-container-main:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.indi-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attire-type-container {
  font-size: 32px;

  font-weight: 600;
}

.indi-last-update {
  font-size: 16px;
  font-weight: 600;
}

.indi-last-update span {
  opacity: .5;
  font-size: 12px;
  text-transform: uppercase;
}

.indi-container-main {
  cursor: pointer;
}

@media (max-width: 768px) {
  .indi-information-top,
  .indi-information-bottom,
  .indi-information-middle {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .indi-information-top,
  .indi-information-bottom,
  .indi-information-middle {
    grid-template-columns: 1fr;
  }
}