.outerViewModalItem {
    position: relative;
    padding: 12px;
    background-color: transparent;
}

.close-viewItem-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}

.ViewModalItem {
    background-color: #0c0c0c7b;
    width: 800px;
    height: 600px;
    border-radius: 12px;
    padding: 20px;

    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
}

.gallery-view-image-container {
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 10px;
}

.view-item-text {
    color: var(--white);
    height: 100%;


    display: grid;
    grid-template-rows: auto 1fr auto ;
    gap: 10px;
}

.text-item-name {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
}

.text-item-description {
    font-size: 16px;
    letter-spacing: 1px;
    color: #f5f5f5c7;
    overflow-y: auto;    
    overflow-x: hidden;    
    scrollbar-width: none;  
}

/* For Chrome, Edge, Safari */
.text-item-description::-webkit-scrollbar {
    display: none;
}



.gallery-view-main-container {
    height: 450px;
    border-radius: 4px;
    background-color: #0c0c0c;
}

.gallery-view-sub-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery-view-sub-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.ViewModalItem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

/* Optional: make sub-images square */
.gallery-view-sub-image {
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}


/* GENERAL IMAGE STYLE */
.view-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

/* FULLSCREEN OVERLAY */
.view-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  z-index: 5000;
  animation: fadeIn 0.3s ease;
}

/* FULLSCREEN IMAGE */
.view-fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 6px;
  animation: zoomIn 0.25s ease;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from { transform: scale(0.9999); }
  to { transform: scale(1); }
}

.view-item-edit-button {
    display: flex;
    justify-content: end;
}

.view-item-edit-button .filled-white {
    height: 40px;
    width: 150px;
}