#userGallery {
  padding: 20px;
}

#userGallery .gallery-header-title {
  font-size: 32px;
  margin-bottom: 30px;
}

/* #userGallery .gallery-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#userGallery .gallery-item {
  aspect-ratio: 2 / 2;
}

#userGallery .gallery-item {
  border-radius: 8px;
  background-color: #ffffff;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: contain;
  transition: all 0.3s;
}

#userGallery .gallery-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#userGallery .gallery-item img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

#userGallery .gallery-add-item {
  font-size: 80px;
  border: 2px dashed #0c0c0c76;
}

#userGallery .gallery-add-item span {
  color: #0c0c0c76;
  transition: all 0.3s;
}

#userGallery .gallery-add-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px dashed #0c0c0c;
}

#userGallery .gallery-add-item:hover span {
  color: #0c0c0c;
}

#userGallery .left-side-search {
  display: flex;
  gap: 10px;
}

#userGallery .select-what-see .filled-black {
  padding: 10px 20px;
}

#userGallery .gallery-item.notShowing {
  opacity: 0.6;
} */
