svg[data-testid="ChevronLeftIcon"], 
svg[data-testid="MenuIcon"],
svg[data-testid="MoreVertIcon"], 
svg[data-testid="MenuOpenIcon"] {
  color: #f5f5f5 
}

button.MuiButtonBase-root:hover {
  background-color: #f5f5f52f;
}

/* .adminSideIcon svg {
    color: #F5F5F5 !important;
    display: flex;
} */

svg[data-testid="ExpandMoreIcon"] {
  color: #F5F5F5 !important;
}

svg[data-testid="PersonIcon"] {
  color: #0C0C0C !important;
}

svg[data-testid="AccountCircleTwoToneIcon"],
.admin-sidebar-footer svg[data-testid="LogoutIcon"] {
  color: #F5F5F5 !important;
}

.MuiToolbar-root .MuiIconButton-root {
  color: inherit;
  margin-left: 8px;
}

.profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.css-1bmc26r-MuiToolbar-root {
  padding: 10px !important;
}

.admin-arrow {
  transform: rotate(180deg);
  height: 20px;
}
  





