.manageAppointment {
    /* background-color: red; */
    padding: 20px;
}


.manageAppointment p.manageAppointment-header {
  width: 100%;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
}