.modalDetails {
    padding: 24px;
    width: 450px;
}

.modalDetails-header {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.modalDetails hr {
    margin: 10px 0;
}

.modalDetails-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalDetails-name {
    font-weight: 700;
    font-size: 24px;
}

.modalDetails-fblink {
    color: #2287E7;
    font-style: italic;
    text-decoration: underline;
    opacity: 8;
}

.modalDetails-date,
.modalDetails-time {
    font-weight: 700;
    font-size: 18px;
}

.modalDetails-description {
    height: 120px;
    font-size: 14px;
}

.modalDetails-status .modalDetails-status-label p {
    padding: 8px 15px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    text-transform: uppercase;
}

.modalDetails-status .modalDetails-status-label p.denied {
    background-color: #F79009;
}

.modalDetails-status .modalDetails-status-label p.cancelled {
    background-color: #F04438;
}

.modalDetails-status .modalDetails-status-label p.approved {
    background-color: #11B364;
}

.modalDetails-status .modalDetails-status-label p.pending {
    background-color: #2287E7;
}

.modalDetails-save-button {
    display: flex;
    gap: 20px;
    height: 40px;
}


.modalDetails .MuiFormLabel-root {
    color: #0c0c0c !important;
}

.modalDetails .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #0c0c0c !important; 
}
