.manage-appointment {
    padding: 6px 20px 20px 20px;
}

.manage-appointment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.search-appointment-container {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 0px 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-appointment-container .MuiInputBase-input .MuiOutlinedInput-input {
    width: 300px;
    padding: 0 10px;
}

.MuiTableRow-root .MuiTableCell-head {
    background-color: #0c0c0c;
    color: #f5f5f5;
}

.manage-appointment .table {
    margin-top: 10px;
}

.table button.Mui-disabled {
    color: #0c0c0c6e;
}

.table button {
    color: #0C0C0C;
}

.table .MuiTablePagination-root {
    background-color: #e2e2e2;
}

.total-appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.total-appointment span {
    font-size: 14px;
    text-transform: uppercase;
}

.totalAppointment {
    background-color: #6d6d6d;
    color: #f5f5f5;
    height: 30px;
    width: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.appointment-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.appointment-row td {
  height: 80px;
}

.manage-appointment-header .main-dropdown {
    width: 150px;
}

.dropdown {
    border: 1px solid #0c0c0c !important;
}

.dropdown:hover {
    border: 1.5px solid #0c0c0c !important;
}

.manage-appointment .MuiTableCell-root {
  padding: 6px 10px !important;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}