#userMessages {
  padding: 20px;
}

#userMessages .header {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
}


#userMessages .messages-content-container {
  height: 620px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 50px 1fr 60px;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#userMessages .user-profile {
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userMessages .date-today {
  color: #a0a0a0;
  font-size: 14px;
}
.user-name {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.user-name span {
  text-transform: lowercase;
  font-size: 12px;
  color: #999999;
  line-height: 6px;
  font-weight: 400;
  letter-spacing: .5px;
}


#userMessages .send-text-box-container {
  display: flex;
  justify-content: centere;
  align-items: center;
  gap: 10px;
}

#userMessages .filled-black {
  height: 54px;
}

#userMessages .admin-messages-contents {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
  gap: 5px;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

#userMessages .admin-messages-contents::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

#userMessages .messages-component {
  display: flex;
}

#userMessages .indi-messages-component {
  padding: 10px 20px;
  border-radius: 24px;
}

#userMessages .admin-messages {
  background-color: #dadada;
  color: #0c0c0c;
}

#userMessages .your-messages {
  background-color: #0c0c0c;
  color: #f5f5f5;
}

.from-you {
  justify-content: end;
}




