.filled-black,
.outlined-black,
.filled-white,
.outlined-white,
.filled-green,
.filled-red,
.outlined-blue,
.filled-blue {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid var(--black);    
    font-weight: var(--semi-bold);
    transition: var(--transition);
    font-size: var(--normal-font-size);
}
/* Black */
.filled-black {
    background-color: var(--black);
    color: var(--white);
}

.filled-black:hover {
    box-shadow: var(--box-shadow-black);
}

.outlined-black {
    color: var(--black);
    background: transparent;
}

.outlined-black:hover {
    background: var(--black);
    color: var(--white);
}
/* White */
.filled-white {
    background-color: var(--white);
    color: var(--black);
}

.filled-white:hover {
    box-shadow: var(--box-shadow-white);
}

.outlined-white {
    border: 1px solid var(--white); 
    color: var(--white);
    background: transparent;
}

.outlined-white:hover {
    background: var(--white);
    color: var(--black);
}

/* Green */
.filled-green {
    background-color: #11B364;
    color: var(--white);
    border: 1px solid #11B364;
}

.outlined-blue {
    border: 1px solid #2287E7; 
    background: var(--white);
    color: #2287E7;
}

.outlined-blue:hover {
    border: 1px solid #2287E7; 
    background: #2287E7;
    color: #f5f5f5;
}

.filled-blue {
    background-color: #2287E7;
    color: var(--white);
    border: 1px solid #2287E7;
}

/* .filled-green:hover {
    box-shadow: var(--box-shadow-white);
} */
/* Red */
.filled-red {
    background-color: #F04438;
    color: var(--white);
    border: 1px solid #F04438;
}

/* .filled-red:hover {
    box-shadow: var(--box-shadow-white);
} */