.main-login {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white);
}

.black-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-transform: uppercase;

    background-color: var(--black);
}

.logo {
    height: 150px;
}

.logo-name {
    font-family: var(--fancy-font);

    line-height: 1.2;
    font-size: 40px;
    letter-spacing: 5px;
}

.logo-profession {
    font-size: 14px;
    letter-spacing: 8px;
}

.white-side {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--black);
}

.white-container {
    height: 500px;
    width: 440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    font-size: var(--big-header-size);
    font-weight: var(--bold);
}

.welcome-message {
    width: 300px;
    font-size: 14px;
    opacity: var(--opacity);
}

.email,
.password,
.address,
.pnumber,
.fblink {
    width: 100%;
    font-size: var(--normal-font-size) !important;
}

.register-input-container,
.login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.logres-button-container {
    width: 100%;
}

.btn-con {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.blue {
    color: var(--blue);
}

.forgot-password {
    width: 100%;
    text-align:  left;
}

.resgister-contact-input-con, 
.resgister-name-input-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}