.drag-area-gallery {
  border: 2px dashed #050505;
  width: 100%;
  height: 100%;          
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.drag-area-gallery.active {
  border: 2px solid #000000;
  background-color: #f8f8f8;
}

.drag-area-gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}
