.drag-area-gallery {
  border: 2px dashed #050505;
  height: 100%;                
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: border 0.3s ease;
  overflow: hidden;            
  box-sizing: border-box;
}

.drag-area-gallery.active {
  border: 2px solid #000000;
  background-color: #f8f8f8;
}

.drag-area-gallery .icon {
  font-size: 80px;
  color: #d3d3d3;
}

.drag-area-gallery img {
  width: 100%;
  height: auto;                 
  max-height: 100%;          
  border-radius: 5px;
  display: block;
  object-fit: contain;
}
