.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  color: #f5f5f5;
  display: grid;
  grid-template-rows: 60% 30%;
}

.main-panel {
  width: 100%;
}

.panel-content {
  height: 100%;
}

.main-panel .content {
  height: 100%;
}




.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 120px;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-text {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  letter-spacing: 8px;

  color: #f5f5f521;                     /* fix 1 */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;

  text-shadow: 0 0 18px #ffffff55;
  font-family: "BBH Sans Hegarty";
}


.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



.dashboard-panel {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.dashboard-panel:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-panel h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}


.lowerdashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  color: #0c0c0c;
}

.lowerdashboard-container .dashboard-panel {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.lower-panels-content {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.lower-dashboard-label span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #929292;
  transition: all .3s;
  letter-spacing: .5px;
}

.dashboard-panel:hover .lower-dashboard-label span {
  color: #0c0c0c;
}

.number-of-upcoming-appointment {
  position: relative;
  flex-direction: column;
}

.dashboard-panel .number-of-upcoming-appointment .date {
  font-size: 16px;
  font-weight: 700;
  color: #929292;
  text-transform: uppercase;
  transition: all .3s;
}

.dashboard-panel:hover .number-of-upcoming-appointment .date {
  color: #0c0c0c;
}

.dashboard-panel.appointment {
  border-left: 5px solid #2287E7;
  cursor: pointer;
}

.dashboard-panel.progress {
  border-left: 5px solid #F79009;
  cursor: pointer;
}

.dashboard-panel.amount {
  border-left: 5px solid #11B364;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .lowerdashboard-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .content {
    font-size: 80px;
  }
}

@media (max-width: 650px) {
  .content {
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .content {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .content {
    font-size: 20px;
  }
}