.set-app-hr {
    margin: 20px 0;
}

.top-set-app {
    display: flex;
}

.top-set-app-btn-con {
    width: 20%;
}

.set-input-main-container {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 20px;
}

.setappointment-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time-continer {
    background-color: #ffffff;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.time-top-header {
    background-color: #0C0C0C;
    color: #F5F5F5;
    font-size: 20px;
    padding: 12px 20px;
}

.time-input-container {
    padding: 12px;
}

.time {
    width: 100%; 
    
}

.date-continer {
    flex: 1;
}

.date-top-header {
    background-color: #0C0C0C;
    color: #F5F5F5;
    font-size: 20px;
    padding: 12px 20px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    height: 370px;
}


.setappointment-right {

}

.setappointment-information-container {

}


.setappointment-info-top-header {
    background-color: #0C0C0C;
    color: #F5F5F5;
    font-size: 20px;
    padding: 12px 20px;
}


.setappointment-information-input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;

    background-color: #ffffff;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}


.set-appointment-container {
    height: 50px;
}