.ToDisplayModal {
  width: 100%;
  margin: 20px 0px;
  background-color: #f5f5f5;

  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  min-width: 600px;
  min-height: 400px;
}

.outerToDisplayModal {
  padding: 12px;
  background-color: transparent;
  overflow: hidden;
  max-height: 600px;
}

.close-display-modal {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.to-display-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 400px;
  min-height: 400px;
  padding-right: 5px;
}

.top-to-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.to-display-item {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  border-radius: 3px;
  background-color: #ffffff;
  transition: all .3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.to-display-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.to-display-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.to-display-img-container {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.to-display-img-container img {
  width: 100%;
  height: 100%;
}

.to-display-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
