.manageSchedule-calendar {
    height: 760px;
}

/* For update availability modal */
.setAppointmentAvailability {
    padding: 20px;
    width: 500px;
}

.setAppointmentAvailability-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.setAppointmentAvailability hr {
    margin: 10px 0;
}

.setAppointmentAvailability .filled-blue {
    height: 40px;
    margin-top: 10px;
}

.setAppointmentAvailability .MuiSvgIcon-root {
    color: #0c0c0c;
}

.setAppointmentAvailability button.filled-black {
    height: 40px;
}

.timeSlot {
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 2px;
    font-weight: 500;
    user-select: none;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
}

.timeSlot:hover,
.wholeDayToggle:hover {
    opacity: 0.9;
}

.availability-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disabled-slot {
    cursor: not-allowed;
    color: gray;
}

.wholeDaySwitch {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.slot-container {
    background-color: #11b3652c;
    width: 100%;
    padding: 4px 12px;
    border-radius: 2px;
    font-size: 15px;
    border: 2px solid #11b365;
}

.slot-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* time : reason */
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.slot-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

.slot-time {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    user-select: none;
    text-transform: uppercase;
    border: 1px solid #ccc;
}

/* Free/Available */
.slot-time.available {
    color: #11B364;
}

/* Designer not available */
.slot-time.unavailable {
    color: #F79009;
}

/* Fixed / Scheduled slots */
.slot-time.fixed-reason {
    color: #F04438;
    cursor: not-allowed;
}

.reason-text {
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
}

.reason-text.available {
    background-color: #f0f0f0;
    color: #11B364;
}

.reason-text.unavailable {
    background-color: #ffebcc;   /* light orange */
    color: #F79009;              /* orange text */
    border: 1px solid #F79009;
}

.reason-text.fixed-reason {
    background-color: #ffe6e6;
    color: #F04438;
    cursor: not-allowed;
}

.reason-text {
    border: 1px solid #ccc;
}

