#gallery {
  padding: 20px;
}

#gallery .gallery-header {
  display: flex;
  justify-content: space-between;
}

#gallery .gallery-header-title {
  font-size: 32px;
  margin-bottom: 30px;
}

#gallery .gallery-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* auto-adjusting columns */
  gap: 20px;
  grid-auto-rows: auto; /* rows adjust to content height */
}

#gallery .gallery-item {
  position: relative; /* important for overlay button */
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

#gallery .gallery-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gallery .gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

#gallery .gallery-add-item {
  font-size: 80px;
  border: 2px dashed #0c0c0c76;
}

#gallery .gallery-add-item span {
  color: #0c0c0c76;
  transition: all 0.3s;
}

#gallery .gallery-add-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px dashed #0c0c0c;
}

#gallery .gallery-add-item:hover span {
  color: #0c0c0c;
}

#gallery .left-side-search {
  display: flex;
  gap: 10px;
}

#gallery .select-what-see .filled-black {
  padding: 10px 20px;
  height: 50px;
}

#gallery .gallery-item.notShowing {
  opacity: 0.6;
}

/* Overlay Button */
#gallery .overlay-button {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  background-color: #0c0c0c;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease; 
}

#gallery .overlay-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#gallery .gallery-item:hover .overlay-button {
  opacity: 1; /* fade in */
  transform: translate(-50%, -50%) scale(1); 
}

/* Edit and View buttons positioning */
#gallery .overlay-button.edit-btn {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

#gallery .overlay-button.view-btn {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

/* Show buttons on hover */
#gallery .gallery-item:hover .overlay-button {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}