#gallery {
  padding: 20px;
}

#gallery .gallery-header {
  display: flex;
  justify-content: space-between;
}

#gallery .gallery-header-title {
  font-size: 32px;
  margin-bottom: 30px;
}

#gallery .gallery-items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px;
  grid-auto-rows: auto;
}

#gallery .gallery-item {
  position: relative; /* important for overlay */
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

#gallery .gallery-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

#gallery .gallery-add-item {
  font-size: 80px;
  border: 2px dashed #0c0c0c76;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .gallery-add-item span {
  color: #0c0c0c76;
  transition: all 0.3s;
}

#gallery .gallery-add-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px dashed #0c0c0c;
}

#gallery .gallery-add-item:hover span {
  color: #0c0c0c;
}

#gallery .left-side-search {
  display: flex;
  gap: 10px;
}

#gallery .select-what-see .filled-black {
  padding: 10px 20px;
  height: 50px;
}

#gallery .gallery-item.notShowing 
.gallery-main-image {
  opacity: 0.6;
}

/* Overlay Buttons Container */
#gallery .gallery-buttons-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  opacity: 0;             /* hidden initially */
  pointer-events: none;   /* not clickable when hidden */
  transition: opacity 0.3s ease;
  z-index: 1000;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.438);
}

/* Show overlay buttons on hover */
#gallery .gallery-item:hover .gallery-buttons-con {
  opacity: 1;
  pointer-events: auto;
}

/* Individual Overlay Buttons */
#gallery .overlay-button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f5f5f5d0;
  color: #0c0c0c;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button hover effect */
#gallery .overlay-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(11, 11, 11, 0.336);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #0c0c0c;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}