/* Libre Caslon Display */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* Libre Franklin */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Font styles */
    --fancy-font: "Libre Caslon Display", serif;
    --normal-font: "Libre Franklin", sans-serif;
    /* Big headers */
    --extra-large-size: 110px;
    --big-header-size: 46px;
    --big-header-letter-space: 1.5px;

    /* Normal Font */
    --normal-font-size: 16px;
    --letter-spacing: 1px;

    /* Small Font */
    --small-font-size: 12px;

    /* Font Weight */
    --semi-bold: 500;
    --bold: 700;
    --max-bold: 800;

    /* Input box */
    --padding: 12px;
    --opacity: .7;

    /* Border */
    --border-radius: 2px;

    /* Color */
    --black: #0C0C0C;
    --black-v2: #1f1f1f;
    --white: #F5F5F5;
    --blue: #2287E7;

    /* Text Shadow */
    --text-shadow: -1px 1px 3px var(--white);

    /* Box Shadow */
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /* Transition */
    --transition: all .3s;
    
    /* By:Henry */
    --fontsize-of-name:120px;
    --fontsize-of-name-about:50px;
    --fontsize-of-career:32px;
    --font-size-about-descriptions:20px;

    /* For the glassy background of Images */
    --glassy-background-image:linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0)) ;
    --backdrop-filter-image:blur(10px);
    --webkit-backdrop-filter:blur(10px);
    --border-glassy-img:1px solid rgba(255, 255, 255, 0.18);
    
    /* Suit Name Font Gallery 1*/
    --suit-name-font:42px;
}

body {
    color: var(--white);
    background-color: var(--white);
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
}

hr {
    border-top: 2px solid var(--black-v2);
    opacity: .1;
}








.app-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}